*{
    margin: 0px;
    padding: 0%;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    width: 100%;
}
header
{
   background-color: #FBC95D;
   text-align: center;
}
ul
{
   list-style: none;
}
li
{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    background-color: black;
}
nav>ul
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav>ul>li,a:hover
{
color: #FBC95D;
}
nav>ul>li,a
{
color: white;
font-size: 12px;

}
nav>ul>li:nth-child(2) a
{
    color: #FED100;
}
nav>ul>li:nth-child(3) input
{
    height:30px ;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
}
nav>ul>li:nth-child(3) i
{
    position: absolute;
    font-size: 15px ;
    right: 12px ;
    color: #333;
    line-height: 30px;

    
}
nav>ul>li:nth-child(3)
{
    position: relative;
}
nav>ul>li:nth-child(4) button
{
    height: 30px;
    padding: 0px 8px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px solid rgb(49, 45, 45);
}
.menu-ba
{
    background-color: #FED100;
    padding: 12px 0;
}
.conteno-menu-ba>ul
{
   display: flex;
   justify-content: space-around
   
}
.conteno-menu-ba>ul>li>a
{
    color: black;
    font-size: 16px;
    margin: 10px;
   
}
.conteno-menu-ba>ul>li>a>i
{
    margin-right: 6px;
}
.conteno-menu-ba>ul>li>a:hover
{
    color: white;
}
/* ----------------------------------------form---------------------------------------------- */
.adress-form
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0,0, 0.6);
    top: 0;
    left: 0 ;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #333;
    display: none;
    z-index: 999;
}
.adress-form-content
{
    width: 400px;
    height: 450px;
    background-color:#fff ;
    border-radius:5px ;
}
.adress-form-content>form
{
    padding: 12px 40px;
}
.adress-form-content>h2
{
    font-size: 14px;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    position: relative ;
}
.adress-form-content>h2>span
{
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 6px;
    border: 1px solid #ddd;
    right: 12px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #333;
}
.adress-form-content>form>input,select

{
    height: 40px;
    display: block;
    width: 100%;
    margin-top: 20px; 
    border: 1px solid #ddd;  
    padding: 6px;
    border-radius: 5px;
}
.adress-form-content>form>p
{
    font-size: 16px;
}
.adress-form-content>form>button
{
    margin-top: 20px;
    height: 40px;
    width: 80%;
    cursor: pointer;
    background-color: #f97e0e;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 5px;
}


/* ...................................................................................... */
.slider
{
    padding: 20px 0;
    height: 350px;
    width: 90%;
    margin: 0 auto;
    
   
}
.slider-content
{
    display: flex;
    justify-content: space-between;
}
.slider-content-left
{
    width: 65%;
}
.slider-content-left-top
{
    width: 100%;
    height: 300px;
    position: relative;
}

.slider-content-left-top>a>img
{
 width: 100%;
 height: 100%;
 object-fit: cover;
}
.slider-content-left-bottom
{
    display: flex;
    justify-content: space-between;
    border: 2px  solid #ddd;
    border-top: none;
    height: 50px;
}
.slider-content-left-bottom>li
{
    width: 20%;
    text-align: center ;
    cursor: pointer;
    padding: 6px 0;
    height: 100%;
    line-height: 38px;
    position: relative;
}
.slider-content-left-bottom>li::before
{
    display: block;
    content: "";
    position: absolute;
    height: 70%;
    width: 1px;
    background-color: #ddd;
    right: 0;
}
.slider-content-left-bottom>.acviti
{
    border-top: 4px solid #FED100;
}
.slider-content-left-top-btn
{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.slider-content-left-top-btn>li
{
    color: #333;
    font-size: 32px;
    height: 50px;
    width: 30px;
    background-color: rgb(243, 240, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    
}
.slider-content-right
{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 45px;
    justify-content: space-around;
    
}
.slider-content-right>li
{
    width: 50%;
    height: 50%;
    text-align: center;
    margin-bottom: 6px;
}
.slider-content-right>li>a>img
{
    width: 170px;
    height: 170px   ;
}
/* -----------------------------------------slide-11111--------------------- */
.slider-content-left-top>a>img
{
    position: absolute;
}
.slider-content-left-top>a:nth-child(2)>img
{
    transform: translateX(100%);
}
.slider-content-left-top>a:nth-child(3)>img
{
    transform: translateX(200%);
}
.slider-content-left-top>a:nth-child(4)>img
{
    transform: translateX(300%);
}
/* ------------------------------------------------------------------------------ */
.baner-one
{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}
.container1>img
{
    width: 96%;
}
/* ==============================sanpham============================================ */
.slider-product-one
{
    width: 90%;
    margin: 0 auto;
}
.slider-product-one-container
{
    width: 96%;
    background-color: #FED100;
    padding: 12px;
}
.slider-product-one-container-title>h2
{
    font-style: italic;
    padding: 12px 0;
}
.slider-product-one-container-items
{
    display: flex;
    justify-content: space-evenly;
}

.slider-product-one-container-item
{
    width: 19%;
    background-color: #fff;
    padding: 50px 12px 12px;
    border-radius:5px ;
    cursor: pointer;
}
.slider-product-one-container-item>img
{
    width: 100%;
    transition: all 0.5s ease;
}
.slider-product-one-container-item:hover>img
{
    transform: translateY(-20px);
}
.slider-product-one-container-item-text
{
    padding-top: 20px;
}
.slider-product-one-container-item-text>li
{
    margin-bottom: 6px;
}
.slider-product-one-container-item-text>li:nth-child(2)
{
    text-decoration: line-through;
    color: #626262;
}
.slider-product-one-container-item-text>li:nth-child(1):hover
{
    
    color: #1d89aa;
}
.slider-product-one-container-item-text>li:nth-child(3)
{
    font-weight: bold;
}
.slider-product-one-container-item-text>li:last-child>i
{
    color: #FED100;
}
.slider-product-one-container2
{
    width: 96%;
    background-color: #ddd;
    padding: 12px;
}
/* ========footerr================= */
footer
{
    background-color: #F1F1F1;
}
.footerr
{
    width: 90%;
    margin: 0 12px;
    text-align: center;
    font-size: 15px;
    padding: 25px 50px 75px 100px;
}


